.map-border {
  fill: #ccc; }

.map-province {
  fill: #444; }

.map-sea {
  fill: #00A8E8; }

.map-island {
  fill: #aaa; }

.map-names .map-sea-names path {
  fill: #333; }

.map-names .map-province-names path {
  fill: #fff; }

.map-link {
  opacity: 1; }
  .map-link path {
    transition: fill 0.6s ease; }
    .map-link path:hover {
      fill: #666; }
