.map-border {
  fill: #ccc; }

.map-province {
  fill: #444;
  transition: fill 0.3s ease; }
  .map-province:hover {
    fill: #666; }

.map-sea {
  fill: #00A8E8; }

.map-island {
  fill: #aaa; }

.map-sea-names {
  fill: #333; }

.map-province-names {
  fill: #fff; }
